
.link {
  /* display: inline-block; */
  /* line-height: 1; */
  /* padding: 0px 0px; */
  /* border-radius: var(--mantine-radius-md); */
  text-decoration: none;
  /* color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0)); */
  /* color: var(--mantine-color-primary); */
  /* font-size: var(--mantine-font-size-sm); */
  /* font-weight: 600; */

  /* @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-zinc-filled));
  }

  [data-mantine-color-scheme] &[data-active] {
    text-decoration: underline;
  } */
}